<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <script src="https://kit.fontawesome.com/32b8e6483f.js" crossorigin="anonymous"></script>
    <title>VisitAR - ¡Todo para tu próximo viaje por Argentina!</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="header__title__box">
            <h1 class="header__title">VisitAR - Viaja por Argentina</h1>
            <h5>Las mejores ofertas</h5>
        </div>
        <nav class="navbar">
            <a class="navbar__link" href="index.html">Home</a>
            <a class="navbar__link" href="places.html">Lugares</a>
            <a class="navbar__link" href="activities.html">Actividades</a>
            <a class="navbar__link" href="plan.html">Planea tu viaje</a>
        </nav>
    </header>
    <main class="main">
        <!-- Hero Image -->
        <div class="hero_image">
            <h1>Encuentra tu nuevo destino</h1>
            <!-- <img src="/images/home/nueve-julio.jpg" alt="nueve-julio" width="50%"> -->
        </div>
        <!-- About -->
        <div class="about">
            <div class="about__img__container">
                <img class="about__img" src="/images/home/cataratas-iguazu.jpg" alt="cataratas-iguazu">
            </div>
            <div class="about__container">
                <div class="about__content">
                    <h2 class="about__title">¿Por qué Argentina?</h2>
                    <p class="about__desc">Este hermoso país guarda misterios en cada rincón, listos para ser descubiertos. Argentina ofrece una experiencia única y una esencia auténtica que enamora. Nuestro equipo de expertos locales está dedicado a diseñar itinerarios personalizados que se adaptan a los intereses y preferencias de cada viajero, garantizando una experiencia a medida y memorable. Desde los imponentes paisajes de la Patagonia hasta la cultura vibrante de Buenos Aires, nuestro amplio conocimiento de Argentina nos permite ofrecer una variedad de destinos y actividades que satisfarán a todo tipo de viajeros.</p>
                </div>
            </div>
        </div>
        <!-- Lugares -->
        <div class="places__container">
            <h2>Lugares imperdibles</h2>
            <div class="places__img__container">
                <div class="places__img__box">
                    <img src="/images/home/buenos-aires.jpg" alt="buenos-aires">
                    <p>Buenos Aires</p>
                </div>
                <div class="places__img__box">
                    <img src="/images/home/salta.jpg" alt="salta">
                    <p>Salta</p>
                </div>
                <div class="places__img__box">
                    <img src="/images/home/tierra-del-fuego-2.jpg" alt="tierra-del-fuego">
                    <p>Tierra del Fuego</p>
                </div>
            </div>
            <button type="submit">Todos los lugares</button>
        </div>
        <!-- Actividades -->
        <div>
            <h2>Las mejores actividades</h2>
            <div>
                <img src="/images/home/mate-cultura.jpg" alt="cultura">
                <p>Cultura</p>
            </div>
            <div>
                <img src="/images/home/noche.jpg" alt="noche">
                <p>Noche</p>
            </div>
            <div>
                <img src="/images/home/gastronomia.jpg" alt="gastronomia">
                <p>Gastronomía</p>
            </div>
            <div>
                <img src="/images/home/playa.jpg" alt="playa">
                <p>Playa</p>
            </div>
            <div>
                <img src="/images/home/montanas.jpg" alt="montaña">
                <p>Montaña</p>
            </div>
            <div>
                <img src="/images/home/futbol-seleccion.jpg" alt="deportes">
                <p>Deportes</p>
            </div>
            <button type="submit">Ver las actividades</button>
        </div>
        <!-- Planea tu viaje -->
        <div class="plan">
            <div class="plan__container">
                <div class="plan__content">
                    <h2 class="plan__title">Planeamos tu viaje</h2>
                    <p class="plan__desc">Nuestro equipo de expertos en turismo está aquí para hacer realidad tus sueños de explorar este asombroso país y garantizar que cada detalle de tu aventura esté cuidadosamente diseñado y organizado. Nuestro objetivo es brindarte un viaje personalizado y a medida que refleje tus pasiones y deseos. La planificación de tu viaje también incluirá la selección de alojamientos de calidad, opciones de transporte seguras y cómodas, y la coordinación de actividades y excursiones emocionantes. Al elegir planificar tu viaje con nosotros, te aseguras una experiencia sin preocupaciones.</p>
                    <button type="submit" class="plan-button">Planea tu viaje</button>
                </div>
            </div>
            <div class="plan__img__container">
                <img class="plan__img" src="/images/home/la-boca.jpg" alt="la-boca">
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <!-- Formulario -->
        <div class="formulario">
            <h3>Envía tu mensaje</h3>
            <label for="nombre"></label>
            <input type="text" name="nombre" id="nombre">
            <label for="email"></label>
            <input type="email" name="email" id="email">
            <label for="mensaje"></label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
            <button type="submit">Enviar</button>
        </div>
        <div class="sitemap">
            <h3>Sitemap</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Lugares</a></li>
                <li><a href="#">Actividades</a></li>
                <li><a href="#">Planeamos tu viaje</a></li>
            </ul>
        </div>
            <div class="contacto">
            <h3>Contacto</h3>
            <p><i class="fa-solid fa-phone"></i>0-800-222-333</p>
            <p><i class="fa-solid fa-envelope"></i>visitarconsultas@gmail.com</p>
            <p><i class="fa-brands fa-instagram"></i>@visitaroficial</p>
            <p><i class="fa-brands fa-twitter"></i>@visitar</p>
        </div>
        <p>Copyright © 2023 VisitAR. Todos los derechos reservados.</p>
    </footer>
</body>
</html>