<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/32b8e6483f.js" crossorigin="anonymous"></script>
  <title>VisitAR • We help you in your travel to Argentina!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="icon" href="../images/favicon.png" type="image/x-icon">
</head>

<body>
  <i class="fa-solid fa-circle-arrow-up arrow-up-btn" id="arrow-up-btn"></i>
  <!-- Header -->
  <header class="header">
    <img class="header__img" src="../images/visit-argentina-logo.svg" alt="Visit Argentina Logo">
    <nav class="header__nav">
      <div class="header__link-container">
        <a class="header__link" href="#">Home</a>
        <a class="header__link" href="#">Places</a>
        <a class="header__link" href="#">Activities</a>
        <a class="header__link" href="#">Plan your trip</a>
      </div>
      <div class="header__options">
        <img class="header__profile" src="../images/profile-icon.png" alt="Profile Pic">
        <div class="header__lang" onclick="toggleLanguage('es')">
          <img class="header__lang-icon" src="../images/uk-flag-icon.png" alt="Lang Flag Icon">
          <p class="header__lang-desc">EN</p>
        </div>
      </div>
    </nav>
  </header>
  <main class="main">
    <!-- Hero -->
    <div class="hero">
      <div id="carouselIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption c-caption">
              <div class="c-caption__title no-select">
                <h1>Find your desired destination</h1>
              </div>
            </div>
            <img src="../images/nueve-julio.jpg" class="d-block w-100 c-img" alt="Av Nueve de Julio">
          </div>
          <div class="carousel-item">
            <div class="carousel-caption c-caption">
              <div class="c-caption__title no-select">
                <h1>Step into the adventure</h1>
              </div>
            </div>
            <img src="../images/puerto-madryn.png" class="d-block w-100 c-img" alt="Puerto Madryn">
          </div>
          <div class="carousel-item">
            <div class="carousel-caption c-caption">
              <div class="c-caption__title no-select">
                <h1>Explore without limits or borders</h1>
              </div>
            </div>
            <img src="../images/montanas.jpg" class="d-block w-100 c-img" alt="Mountains">
          </div>
          <div class="carousel-item">
            <div class="carousel-caption c-caption">
              <div class="c-caption__title no-select">
                <h1>Your next adventure begins today</h1>
              </div>
            </div>
            <img src="../images/fitz-roy.jpg" class="d-block w-100 c-img" alt="Fitz Roy">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- About -->
    <div class="about">
      <img src="../images/aconcagua.jpg" class="about__img" alt="Aconcagua">
      <div class="about__content">
        <h2 class="about__content-title">¿Why <span>Argentina</span>?</h2>
        <p class="about__content-desc">Discover Argentina, a land of breathtaking landscapes and vibrant culture. From the majesty of Patagonia to the energy of Buenos Aires, every corner offers an unforgettable experience. Explore the glaciers, savor an authentic asado, and experience tango in its birthplace. Argentina is a perfect destination for lovers of nature, cuisine, and history.</p>
      </div>
    </div>
    <!-- Featured -->
    <div class="feat">
      <h2 class="feat__title">Must-see <span>destinations</span></h2>
      <div class="feat__item-box">
        <div class="feat__item">
          <div class="feat__item-img">
            <img src="../images/teatro-colon.jpg" alt="Buenos Aires">
          </div>
          <div class="feat__item-desc">
            <p class="feat__item-desc">Buenos Aires</p>
          </div>
        </div>
        <div class="feat__item">
          <div class="feat__item-img">
            <img src="../images/salta.jpeg" alt="Salta">
          </div>
          <div class="feat__item-desc">
            <p class="feat__item-desc">Salta</p>
          </div>
        </div>
        <div class="feat__item">
          <div class="feat__item-img">
            <img src="../images/tierra-del-fuego-2.jpg" alt="Tierra del Fuego">
          </div>
          <div class="feat__item-desc">
            <p class="feat__item-desc">Tierra del Fuego</p>
          </div>
        </div>
      </div>
      <button class="button feat__btn">All destinations</button>
    </div>
    <!-- Activities -->
    <div class="feat">
      <h2 class="feat__title">Our <span>proposals</span> for your unforgettable trip</h2>
      <div class="feat__item-box">
        <div class="feat__item">
          <div class="feat__item-img">
            <img src="../images/fitz-roy-trekking.jpg" alt="Trekking en El Chaltén">
          </div>
          <div class="feat__item-desc">
            <p class="feat__item-desc">Trekking in El Chaltén</p>
          </div>
        </div>
        <div class="feat__item">
          <div class="feat__item-img">
            <img src="../images/chubut-ballenas-2.webp" alt="Avistaje de ballenas en Chubut">
          </div>
          <div class="feat__item-desc">
            <p class="feat__item-desc">Whale watching in Chubut</p>
          </div>
        </div>
        <div class="feat__item">
          <div class="feat__item-img">
            <img src="../images/buenos-aires-cafe.jpg" alt="Tour de cafes notables">
          </div>
          <div class="feat__item-desc">
            <p class="feat__item-desc">Notable cafés tour</p>
          </div>
        </div>
      </div>
      <div class="feat__item-box">
        <div class="feat__item">
          <div class="feat__item-img">
            <img src="../images/mendoza-vino.jpg" alt="Ruta del vino en Mendoza">
          </div>
          <div class="feat__item-desc">
            <p class="feat__item-desc">Wine route in Mendoza</p>
          </div>
        </div>
        <div class="feat__item">
          <div class="feat__item-img">
            <img src="../images/quebrada-de-humahuaca.jpg" alt="Excursión por Salinas Grandes">
          </div>
          <div class="feat__item-desc">
            <p class="feat__item-desc">Excursion to Salinas Grandes (Jujuy)</p>
          </div>
        </div>
      </div>
      <button class="button feat__btn">All activities</button>
    </div>
    <!-- Advertisement -->
    <div class="advert">
      <div class="advert__box">
        <div class="advert__box-title">Adventure Patagonia 2025</div>
        <button class="advert__box-btn">Learn more</button>
      </div>
    </div>
    <!-- Planning -->
    <div class="plan">
      <div class="plan__form">
        <h2 class="plan__form-title">We <span>help you</span> plan your next trip</h2>
        <input type="text" class="plan__form-geo input" placeholder="Search cities, provinces, regions...">
        <div class="plan__form-date">
          <div class="plan__form-start">
            <h3 class="plan__form-label">Start Date</h3>
            <input type="date" name="start" id="start" class="input">
          </div>
          <div class="plan__form-start">
            <h3 class="plan__form-label">End Date</h3>
            <input type="date" name="start" id="start" class="input">
          </div>
        </div>
        <div class="plan__form-hotel">
          <select name="hotel" id="hotel" class="input">
            <option value="select">Type of accommodation</option>
            <option value="hotel">Hotel</option>
            <option value="hostel">Hostel</option>
            <option value="shared">Shared accommodation</option>
          </select>
        </div>
        <button class="plan__form-search-btn button">Search</button>
      </div>
      <img src="../images/sign.jpg" alt="Sign" class="plan__img">
    </div>
    <!-- Newsletter -->
      <div class="news">
        <img class="news__logo" src="../images/visit-argentina-logo.svg" alt="Visit Argentina Logo">
        <h3 class="news__title">Stay informed about the latest opportunities, no matter where you are.</h3>
        <p class="news__desc">Subscribe to our weekly newsletter for updates, exclusive offers, and never-before-seen photos. Don’t miss out!</p>
        <input class="input news__input" type="email" placeholder="Your email">
        <button class="button">Subscribe</button>
      </div>
    <!-- Footer -->
    <div class="footer">
      <div class="footer__main">
        <div class="footer__section">
          <h4 class="footer__section-title">About this site</h4>
          <a class="footer__section-item">Privacy policy</a>
          <a class="footer__section-item">Cookies</a>
          <a class="footer__section-item">Accessibility</a>
          <a class="footer__section-item">Terms of use</a>
        </div>
        <div class="footer__section">
          <h4 class="footer__section-title">Our pages</h4>
          <a class="footer__section-item">Home</a>
          <a class="footer__section-item">Destinations</a>
          <a class="footer__section-item">Activities</a>
          <a class="footer__section-item">Plan your trip</a>
        </div>
        <div class="footer__section">
          <h4 class="footer__section-title">Stay in touch</h4>
          <div class="footer-social">
            <img class="footer__soc-icon" src="../images/ig-icon.png" alt="Instagram">
            <a class="footer__section-item">Instagram</a>
          </div>
          <div class="footer-social">
            <img class="footer__soc-icon" src="../images/fb_icon.svg" alt="Facebook">
            <a class="footer__section-item">Facebook</a>
          </div>
          <div class="footer-social">
            <img class="footer__soc-icon" src="../images/tw-icon.png" alt="Twitter">
            <a class="footer__section-item">Twitter</a>
          </div>
          <div class="footer-social">
            <img class="footer__soc-icon" src="../images/yt-icon.png" alt="YouTube">
            <a class="footer__section-item">YouTube</a>
          </div>
        </div>
        <div class="footer__section">
          <h4 class="footer__section-title">Change language</h4>
          <select name="language" id="language" class="input" onchange="changeLanguage(this)">
            <option value="es">Español</option>
            <option value="en" selected>English</option>
          </select>
        </div>
      </div>
      <div class="footer__copyright">
        <p>Copyright 2025 - All rights reserved VisitAR</p>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../index.js"></script>
</body>

</html>