<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/203/203039.png">
    <script src="https://kit.fontawesome.com/32b8e6483f.js" crossorigin="anonymous"></script>
    <title>VisiAR - Planeamos tu viaje</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="title">
            <h1 class="main-title">VisitAR - Viaja por <span>Argentina</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>    
                <li><a href="places.html">Lugares</a></li>
                <li><a href="activities.html">Actividades</a></li>
                <li><a href="plan.html">Planea tu viaje</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Hero Image -->
        <div>
            <h1>Cuenta con nosotros para un viaje único</h1>
            <img src="" alt="hero-img-plan">
        </div>
        <div>
            <h2>Vuelos</h2>
            <img src="" alt="buenos-aires">
            <p>Vuelos desc.</p>
        </div>
        <div>
            <h2>Hospedaje</h2>
            <p>Hospedaje desc.</p>
            <img src="" alt="buenos-aires">
        </div>
        <div>
            <h2>Transporte</h2>
            <img src="" alt="buenos-aires">
            <p>Transporte desc.</p>
        </div>
        <div>
            <h2>Compras</h2>
            <p>Compras desc.</p>
            <img src="" alt="buenos-aires">
        </div>
        <div>
            <h2>Comodidades</h2>
            <img src="" alt="buenos-aires">
            <p>Comodidades desc.</p>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <!-- Formulario -->
        <div class="formulario">
            <h3>Envía tu mensaje</h3>
            <label for="nombre"></label>
            <input type="text" name="nombre" id="nombre">
            <label for="email"></label>
            <input type="email" name="email" id="email">
            <label for="mensaje"></label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
            <button type="submit">Enviar</button>
        </div>
        <div class="sitemap">
            <h3>Sitemap</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Lugares</a></li>
                <li><a href="#">Actividades</a></li>
                <li><a href="#">Planeamos tu viaje</a></li>
            </ul>
        </div>
            <div class="contacto">
            <h3>Contacto</h3>
            <p><i class="fa-solid fa-phone"></i>0-800-222-333</p>
            <p><i class="fa-solid fa-envelope"></i>visitarconsultas@gmail.com</p>
            <p><i class="fa-brands fa-instagram"></i>@visitaroficial</p>
            <p><i class="fa-brands fa-twitter"></i>@visitar</p>
        </div>
        <p>Copyright © 2023 VisitAR. Todos los derechos reservados.</p>
    </footer>
</body>
</html>