/* Global */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    height: 10vh;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
}

.header__img {
    height: 100%;
    width: 15%;
}

.header__nav {
    width: 50%;
    display: flex;
    gap: 10%;
    align-items: center;
    margin-left: 3%;

}

.header__link {
    text-decoration: none;
    color: black;
}

.header__options {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    align-items: center;
    width: 35%;
    height: 100%;
}

.header__profile {
    height: 100%;
}

.header__lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header__lang-icon {
    height: 70%;
}

.header__lang-desc {
    height: 30%;
}