/* Global */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --light-blue: #2DAFFF;
    --dark-blue: #020B5A;
}

.button {
    color: white;
    background-color: var(--light-blue);
    border: 1px solid white;
    border-radius: 1em;
    padding: 1em;
    font-size: 1.2em;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
    display: block;
}

.button:hover {
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
    background-color: white;
}

#arrow-up-btn {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    color: var(--light-blue);
    font-size: 3em;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#arrow-up-btn.show {
    opacity: 1;
    visibility: visible;
}

/* Header */

/* Mobile & Tablet */
@media (max-width: 768px) {
    
}

/* Laptop */
@media (max-width: 1024px) {

}

/* Desktop */
@media (max-width: 1440px) {

}

header {
    height: 10vh;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
}

.header__img {
    height: 100%;
    width: 15%;
    cursor: pointer;
}

.header__nav {
    width: 85%;
    display: flex;
    margin-left: 3%;
    justify-content: space-between;
}

.header__link-container {
    height: 100%;
    display: flex;
    gap: 3em;
    align-items: center;
}

.header__link {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: transparent;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.header__link:hover {
    color: var(--light-blue);
    border-color: var(--light-blue);
}

.header__options {
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    align-items: center;
    height: 100%;
}

.header__profile {
    height: 80%;
}

.header__lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.header__lang-icon {
    height: 70%;
}

.header__lang-desc {
    height: 30%;
}

/* Hero */

.hero {
    height: 90vh;
}

.carousel,
.carousel-inner,
.carousel-item {
    height: 100%;
}

.c-img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    /* object-fit: cover; */
}

.c-caption {
    top: 40%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-caption__title {
    width: fit-content;
}

.c-caption__title h1 {
    padding: 0.2em;
    font-size: 3em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 0.5em;
}

/* About */

.about {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.about__img {
    width: 40%;
    border-radius: 2em;
    object-fit: cover;
}

.about__content {
    width: 50%;
}

.about__content-title {
    font-size: 2.7em;
}

.about__content-title span {
    color: var(--light-blue)
}

.about__content-desc {
    font-size: 1.5em;
}

/* Featured */

.feat {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feat__title {
    font-size: 2.7em;
}

.feat__title span {
    color: var(--light-blue);
}

.feat__item-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3%;
}

.feat__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    /* padding-bottom: 1em; */
}

.feat__item:hover {
    transform: scale(1.05);
}

.feat__item-img {
    width: 100%;
    height: 90%;
    object-fit: cover;

}


.feat__item-img img {
    width: 100%;
    height: 100%;
    border-radius: 2em;
}

.feat__item-desc {
    font-size: 1.2em;
    margin: 0;
}

.feat__btn {
    margin-top: 3%;
}

/* Advert */

.advert {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
}

.advert__box {
    width: 100%;
    border-radius: 3em;
    padding: 5em;
    background-image: url("../images/patagonia.jpg");
    background-position: left center;
    background-size: cover;
}

.advert__box-title {
    font-size: 2.7em;
    color: white;
}

.advert__box-btn {
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 0.5em;
    border-radius: 1em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.advert__box-btn:hover {
    background-color: white;
    color: var(--light-blue);
}

/* Planning */

.plan {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
}

.plan__form-title {
    font-size: 2.7em;
}

.plan__form-title span {
    color: var(--light-blue);
}

.plan__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    /* border: 1px solid; */
}

.plan__form-label {
    font-size: 1em;
}

.plan__form-date {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.input {
    padding: 0.5em;
    border-radius: 10px;
    width: 100%;
}

.plan__form-geo,
.plan__form-hotel {
    width: 90%;
}

.plan__img {
    width: 50%;
    border-radius: 2em;
}

.plan__form-search-btn {
    width: 25%;
    align-self: center;
}

.plan__form-start {
    width: 45%;
}

.plan__form-label {
    font-size: 1em;
}

.plan__form-hotel {
    width: 90%;
}

/* Newsletter */

.news {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-image: url("../images/puerto-madryn.png");
    background-position: left center;
    color: white;
}

.news__logo {
    width: 20%;
}

.news__input {
    width: 50%;
}

.news__desc {
    text-align: center;
}

/* Footer */

.footer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background-color: var(--dark-blue);
}

.footer__main {
    display: flex;
    color: white;
    margin-bottom: 5%;
}

.footer__section {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    width: 25%;

}

.footer__section-item {
    text-decoration: none;
    color: white;
}

.footer__soc-icon {
    width: 1.5em;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    color: white;
}

.footer__copyright p {
    margin-top: 2em;
    margin-bottom: 0;
}