/* body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    height: 120px;
}

h1 {
    margin: 0;
}

header h3 {
    display: inline-block;
}

.title {
    width: 50%;
}

nav {
    width: 50%;
}

.subtitle {
    
}

footer {
    background-color: #303030;
    color: white;
} */